<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css">

    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="container py-3">
    <section class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <label for="is_active">Show only active
                <input type="checkbox" id="is_active" />
            </label>
        </div>
        <div>
            <button class="btn btn-primary" id="addNewDriverModal">+ Add New Driver</button>
            <button class="btn btn-outline-dark" id="openPwdmodal" data-toggle="modal" data-target="#pwdModal">
                <svg fill="#000000" height="18px" width="18px" version="1.1" id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 485.017 485.017" xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M361.205,68.899c-14.663,0-28.447,5.71-38.816,16.078c-21.402,21.403-21.402,56.228,0,77.631 c10.368,10.368,24.153,16.078,38.815,16.078s28.447-5.71,38.816-16.078c21.402-21.403,21.402-56.228,0-77.631 C389.652,74.609,375.867,68.899,361.205,68.899z M378.807,141.394c-4.702,4.702-10.953,7.292-17.603,7.292 s-12.901-2.59-17.603-7.291c-9.706-9.706-9.706-25.499,0-35.205c4.702-4.702,10.953-7.291,17.603-7.291s12.9,2.589,17.603,7.291 C388.513,115.896,388.513,131.688,378.807,141.394z">
                            </path>
                            <path
                                d="M441.961,43.036C414.21,15.284,377.311,0,338.064,0c-39.248,0-76.146,15.284-103.897,43.036 c-42.226,42.226-54.491,105.179-32.065,159.698L0.254,404.584l-0.165,80.268l144.562,0.165v-55.722h55.705l0-55.705h55.705v-64.492 l26.212-26.212c17.615,7.203,36.698,10.976,55.799,10.976c39.244,0,76.14-15.282,103.889-43.032 C499.25,193.541,499.25,100.325,441.961,43.036z M420.748,229.617c-22.083,22.083-51.445,34.245-82.676,34.245 c-18.133,0-36.237-4.265-52.353-12.333l-9.672-4.842l-49.986,49.985v46.918h-55.705l0,55.705h-55.705v55.688l-84.5-0.096 l0.078-37.85L238.311,208.95l-4.842-9.672c-22.572-45.087-13.767-99.351,21.911-135.029C277.466,42.163,306.83,30,338.064,30 c31.234,0,60.598,12.163,82.684,34.249C466.34,109.841,466.34,184.025,420.748,229.617z">
                            </path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </section>

    <section class="body mt-4">
        <table id="driver_table" class="table" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Note</th>
                    <th scope="col" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody class="driver-list">
            </tbody>
        </table>
    </section>

    <!-- Transaction Modal -->
    <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-4">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="mb-3 modal-title">Transactions</h1>
                        <div class="transactions-table">
                            <table id="transaction_table" class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Trans Date</th>
                                        <th scope="col">Transaction</th>
                                        <th scope="col">Balance</th>
                                        <th scope="col">Comments</th>
                                        <th scope="col" class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody class="transactions-list">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mb-3 modal-title">Edit field</h1>
                        <div class="input-feild mb-3">
                            <label for="trans_date">Date</label>
                            <input type="date" class="form-control" id="trans_date" value="{{ .currDate }}" required />
                        </div>
                        <div class="input-feild mb-3">
                            <label for="trans_num">Transaction</label>
                            <input type="number" class="form-control" id="trans_num" placeholder="4496" value="" />
                        </div>
                        <div class="input-feild mb-3">
                            <label for="trans_comment">Comments</label>
                            <textarea id="trans_comment"></textarea>
                        </div>
                        <div class="btn-group mb-3 d-flex justify-content-around">
                            <button type="button" class="btn btn-primary" id="transSave">Edit</button>
                            <button type="button" class="btn btn-outline-dark" id="transEditCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Driver Modal -->
    <div class="modal fade" id="driverModal" tabindex="-1" role="dialog" aria-labelledby="driverModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-5 d-flex justify-content-between">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title pb-3">Add New Driver</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="full_name">Full Name</label>
                            <input type="text" class="form-control" id="full_name" />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" />
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" />
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <div class="row px-3">
                                <input type="text" maxlength="2" class="col-5 form-control" id="state" />
                                <div class="col-2 text-right">Zip</div>
                                <input type="number" class="col-5 form-control" id="zip" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="home_phone">Home Phone</label>
                            <input type="text" class="form-control" id="home_phone" />
                        </div>
                        <div class="form-group">
                            <label for="cell_phone">Cell Phone</label>
                            <input type="text" class="form-control" id="cell_phone" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="driver_license">Driver License</label>
                            <input type="text" class="form-control" id="driver_license" />
                        </div>
                        <div class="form-group">
                            <label for="ssn">SSN</label>
                            <input type="number" class="form-control" id="ssn" />
                        </div>
                        <div class="form-group">
                            <label for="dob">DOB</label>
                            <input type="date" class="form-control" id="dob" />
                        </div>
                        <div class="form-group">
                            <label for="hire_date">Hire Date</label>
                            <input type="date" class="form-control" id="hire_date" />
                        </div>
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" id="comments"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked="checked"
                                id="driver_active">
                            <label class="form-check-label" for="driver_active">
                                Active
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" id="save_driver">Add Driver</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Password Modal -->
    <div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content p-4">
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" />
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" />
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" />
                </div>
                <div class="btn-group text-center mx-auto" >
                    <button class="btn btn-primary mx-auto" id="pwd_change_btn">Change Password and Reencrypting All data</button>
                </div>
                <div class="loadding">
                    <img src="/assets/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="/assets/js/cypto.js"></script>
    <script src="/assets/js/driver.js"></script>
</body>

</html>